@font-face {
    font-family:"open-sans";
    src:url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.head_ramda {
    font-family: 'open-sans', sans-serif;
    font-size: 80px;
    padding-top: 61px;
}

.head_ramda_link {
    text-decoration: none;
}

.head_ramda_ra {
    color: black;
}

.head_ramda_mda\.js {
    color: #4bcaff;
}

.head_menu {
    background-color: #35444f;
}

.head_menu_list {
    text-align: center;
    font-size: 24px;
    font-family: 'open-sans', sans-serif;
}

.head_menu_list_item {
    display: inline-block;
    padding: 26px 30px;
}

.head_menu_list_item_link {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.main_left_menu {
    float: left;
    border: 2px #35444f solid;
}

.main_left_menu_list {
    width: 310px;
    padding-left: 0px;
}

.main_left_menu_list_item {
    list-style: none;
    font-size: 29.99244px;
    color: rgba(73, 88, 99, 1);
    font-family: 'open-sans', sans-serif;
    padding: 25px 0px;
}

.main_left_menu_list_item_link {
    margin-left: 44px;
    color: rgba(73, 88, 99, 1);
    text-decoration: none;
}

.main_logo {
    float: right;
    border: 2px #35444f solid;
}

.main_logo_image {
    padding: 74px 268px 74px 297px;
}

.main_text {
    float: right;
    width: 815px;
    padding-top: 50px;
    padding-right: 40px;
    color: rgba(44, 44, 44, 1);
    font-size: 18px;
    font-family: 'open-sans', sans-serif;
}

.footer {
    clear: both;
    float: left;
    width: 100%;
    background-color: #B4B7BA;
    margin-top: 51px;
    margin-bottom: 30px;
}

.footer_list {
    float: left;
    width: 900px;
    font-size: 28px;
    font-family: 'open-sans', sans-serif;
}

.footer_list_item {
    display: inline-block;
    padding-right: 10px;
}

.footer_copyright {
    float: right;
    margin-top: 28px;
    width: 175px;
    font-size: 24px;
    color: rgba(1, 1, 1, 1);
    font-family: 'open-sans', sans-serif;
}

.footer_list_item_link {
    color: rgba(12, 25, 39, 1);
    text-decoration: none;
}

.footer_list_item_link:hover {
    text-decoration: underline;
    color: #3181a6;
}

.main_left_menu_list_item:hover {
    color: black;
    padding-left: 15px;
    background-color: #dbdbdb;
    background-position: left;
}

.head_menu_list_item:hover {
    background-color: #222f3a;
}